<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="portada"   >
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>Portada</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="personajes">
      <ion-icon aria-hidden="Personajes" name="accessibility"></ion-icon>
      <ion-label>Personajes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="momentos">
      <ion-icon aria-hidden="Momentos" name="caret-forward-circle"></ion-icon>
      <ion-label>Momentos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon aria-hidden="Acerca de" name="information-circle"></ion-icon>
      <ion-label>Acerca de</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vida">
      <ion-icon aria-hidden="En mi vida" name="person"></ion-icon>
      <ion-label>En mi vida</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contratame">
      <ion-icon aria-hidden="Contratame" name="paper-plane"></ion-icon>
      <ion-label>Contratame</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
