<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Portada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Portada</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-img src="https://elcomercio.pe/resizer/x2BCjoo2PzGg8A4URsHp9wa2EKA=/980x528/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/7CLNWGHMABAGZAM42VTLVAO6S4.jpg" alt="Outer Banks Photo"/>
    
</ion-content>
